/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
    align-items: center;
}

.profile-picture-container {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    /* overflow: hidden;
    margin: 0 auto; 
    display: flex;
    align-items: center;
    justify-content: center; */

    overflow: hidden;
    margin-right: 40px; /* change this for space between profile picture and text card*/

    /*border for the profile picture*/
    border: 15px solid #6e00f5;
    /* box-sizing: border-box; */
    /* border-image: linear-gradient(to right,#e30505,#000);
    border-image-slice: 1;
    box-sizing: border-box;
    mask-image: radial-gradient(circle at center, transparent 50%, black 51%); */


}

.profile-picture {
    width: 100%;
    height: auto;
    display: block;
    /* border: 6px solid rgb(85, 21, 21)fff; */
}



.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center; 

}

.text-container h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.text-container h3, .text-container h4 {
    font-size: 1.2em;
    margin-bottom: 15px;
}

/* .social-links {
    display: flex;
    gap: 10px;
    margin-top: 20px; /* Adjusted margin for spacing */
/* } */

/* .social-links a {
    text-decoration: none;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    order-radius: 5px;
} */ 